staticSites:
  - name: ag116-frontend
    env: node
    root: frontend
    buildCommand: yarn install --frozen-lockfile && yarn build:web
    publishPath: web-build
    installCommand: yarn install --frozen-lockfile
