staticSites:
  - name: ag116-frontend
    env: node
    root: frontend
    installCommand: npm install --legacy-peer-deps
    buildCommand: npx expo export:web --output-dir web-build
    publishPath: web-build
